
<robot name="artifacts_workpiece_description">
  <link name="workpiece_base_link">
    <inertial>
      <origin
        xyz="-1.5374E-17 -2.7756E-17 0.01175"
        rpy="0 0 0" />
      <mass
        value="1.0157" />
      <inertia
        ixx="0.0019588"
        ixy="2.7945E-19"
        ixz="4.059E-17"
        iyy="0.0064555"
        iyz="2.7208E-20"
        izz="0.0083055" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://artifacts_workpiece_description/meshes/workpiece_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://artifacts_workpiece_description/meshes/workpiece_base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>